button {
  all: unset;
  display: inline-block;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 1.5px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 17px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.duolingo_button {
  background-color: #33ccff;
  box-shadow: 0 5px 0 #0099cc;
  margin-top: 20px;
}

.duolingo_button:active {
  box-shadow: none;
  transform: translateY(5px);
}
